
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: url('src/assets/workdesk.jpg');
  background-position: center; 
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
